{% extends 'base.html' %}
{% block content %}
<div class="max-w-4xl mx-auto bg-white shadow-lg rounded-lg p-6 fade-in">
    <h2 class="text-2xl font-semibold text-[#008143] mb-6">Cycle List</h2>
    {% if cycles %}
    <ul class="mt-4 space-y-2">
        {% for cycle in cycles %}
        <li>
            <a href="{% url 'modify_cycle' cycle.cycle_id %}" class="block p-3 bg-gray-100 rounded-lg hover:bg-[#95E35D] hover:text-white transition duration-300 ease-in-out transform hover:-translate-y-1 hover:shadow-md">
                {{ cycle.cycle_id }} ({{ cycle.date }} - {{ cycle.control_type }})
            </a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p class="text-gray-500">No cycles found.</p>
    {% endif %}
    <a href="{% url 'add_cycle' %}" class="mt-4 inline-block bg-[#95E35D] text-white px-4 py-2 rounded hover:bg-[#4A9A14] transition">Add New Cycle</a>
</div>
{% endblock %}
